# build output
dist/
.output/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
public/assets/images/hero/apAlgFgUY--800.jpeg
public/assets/images/hero/apAlgFgUY--800.avif
public/assets/images/hero/apAlgFgUY--450.webp
public/assets/images/hero/apAlgFgUY--450.jpeg
public/assets/images/hero/apAlgFgUY--450.avif
public/assets/images/hero/apAlgFgUY--1200.webp
public/assets/images/hero/apAlgFgUY--1200.jpeg
public/assets/images/hero/apAlgFgUY--1200.avif
public/assets/images/diver/5T7onLpwsl-800.webp
public/assets/images/diver/5T7onLpwsl-800.png
public/assets/images/diver/5T7onLpwsl-800.avif
public/assets/images/diver/5T7onLpwsl-450.webp
public/assets/images/diver/5T7onLpwsl-450.png
public/assets/images/diver/5T7onLpwsl-450.avif
public/assets/images/astronaut/uuj75J5YzZ-800.webp
public/assets/images/astronaut/uuj75J5YzZ-800.png
public/assets/images/astronaut/uuj75J5YzZ-800.avif
public/assets/images/astronaut/uuj75J5YzZ-450.webp
public/assets/images/astronaut/uuj75J5YzZ-450.png
public/assets/images/astronaut/uuj75J5YzZ-450.avif
public/assets/images/astronaut/JuGjAVS5ew-800.webp
public/assets/images/astronaut/JuGjAVS5ew-800.png
public/assets/images/astronaut/JuGjAVS5ew-800.avif
public/assets/images/astronaut/JuGjAVS5ew-450.webp
public/assets/images/astronaut/JuGjAVS5ew-450.png
public/assets/images/astronaut/JuGjAVS5ew-450.avif
